.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item p{
    margin: 0;
    display: inline;
    margin-left: 10px;
}

.student-name.active{
    text-decoration: line-through;
}

.list-group-item{
    border: 1px solid #3498db;
}
button{
    background-color: red;
}